.Container {
  position: relative;
  min-height: 300px;
  /* max-height: 800px; */
  overflow: hidden;
  /* margin-bottom: 200px; */
}
/* Style the video: 100% width and height to cover the entire window */
.Video {
  width: 100%;
  height: 100%;
}
/* Add some content at the bottom of the video/page */
.Content {
  position: absolute;
  top: 0;
  color:#f1f1f1;
  background-color: rgba(41, 146, 216, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  object-fit: cover;
}
.SubContent {
    text-align: center;
    padding: 10px;
}
.SubContent h1 {
  font-size: 5em;
}
.SubContent h2 {
  font-size: 3em;
}
.SubContent p {
    color: #f7f7f7e7;
    font-size: 1.3rem;
    margin-left: 100px;
    margin-right: 100px;
}
.SubContent button {
    font-weight: bold;
    margin-top: 30px;
    color: #F1F1F1;
    border: #F1F1F1 1px solid;
    padding: 10px 5px;
    background-color: hsla(0, 0%, 0%, 0);
    font-size: 1.25rem;
    border-radius: 5px;
    padding: 30px;
}
.SubContent button:hover {
    background-color: #F1F1F1;
    color: #000000c0;
}
.SubContent img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  border: #F1F1F1 1px solid;
}