body{
    font-family:sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    padding: 30px;
    text-align: center;
}

hr{
    width: 50%;
    border-top: 1px solid black;
    margin-top: 20px;
}

/* .NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
} */

 /*.NavBar img{
    width: 50px;
} */

.navbar{
    color:rgb(77, 107, 206);
    background-color: rgb(134, 155, 224);
}
.link-text{
    color: black;
    margin-right: 10px;
    padding: 10px;
    text-decoration: none;
}
.link-text:hover{
    color: red;
}

.footer{
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(134, 155, 224);
}
.social-icons{
    padding: 10px;
}

.websites{
    color: black;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
}
.sponsers{
    text-align: center;
}

.logo{
    display: flex;
}

@media screen and (max-width: 900px) {
    .footer{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .NavBar{
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.leaflet-container{
    width: 100%;
    height: 90vh;
}

.leaflet-container {
    width: 100%;
    height: 100vh;
  }
  
  .images{
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  /* Contact form*/

@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
form,
input,
textarea,
button {
    font-family: 'Redressed', cursive;
    font-size: large;
}

.form {
    width: 200vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:30px;
}
.form > input,textarea{
    width: 250px;
    padding: 30px;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid black;
    outline: none;
}
.form > input:focus,
textarea:focus {
  border: 2px solid rgb(250, 20, 20);
}
.form > input:hover,
textarea:hover{
    box-shadow: 0 0 25px rgba(255, 12, 12, 0.8);
}
.form > button:hover{
    box-shadow: 0 0 25px rgba(97, 92, 92, 0.8)
}
.form > button {
    padding: 20px;
    width: 300px;
    border-radius: 12px;
    outline: none;
    background-color:rgb(250, 20, 20);
    color: rgb(255, 255, 255);
    font-size: 23px;
    margin-top: 10px;
}

/* Home */

