@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@media screen and (max-width: 900px) {
    .footer{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .NavBar{
        flex-wrap: wrap;
        flex-direction: column;
    }
}
@media screen and (max-width: 376px) {
    .footer{
        flex-wrap: wrap;
        flex-direction: column;
        position:fixed;
        bottom:0;
        z-index:999;
        width:100%;
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        align-items: center;
        }

    .websites {
        display:none;
        }
        .credits{
            display:none;
        }
    .NavBar{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .form h2{
        margin-top: -200px;
        }
}

body{
    font-family:sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1{
    padding: 30px;
    text-align: center;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #007eb4;
}

.social-icons{
    display: inline-block;
    padding: 10px;
    transform: scale(0.8);
    transition: 0.5s;
}

.social-icons:hover {
    transform: scale(1) translateY(-10px);
   
}


.websites img{
    width:80px;
    height: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transform: scale(0.8);
    transition: 0.5s;
}

.websites img:hover {
    transform: scale(1) translateY(-8px);
}


.sponsers{
    color: white;
    text-align: center;
}

.credits p{
    color: white;
}

.leaflet-container{
    width: 100%;
    height: 90vh;
}

.leaflet-container {
    width: 100%;
    height: 100vh;
  }
  
  .images{
    margin-left: 50%;
    transform: translate(-50%);
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .card-text{
      text-align: center;
  }


  .leaflet-popup-content-wrapper{
      z-index: 100;
      overflow: hidden;
  }
  
  /* Contact form*/

.form {
    margin: 0;
    /* width: 200vh; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:30px;
    background-image: url("https://images.pexels.com/photos/821754/pexels-photo-821754.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: 100%;
    /*https://vectr.com/tmp/bZHzfTSC3/c3WzLiZR4l.svg?width=1600&height=896&select=c3WzLiZR4lpage0*/
}

.form > input, textarea{
    width: 250px;
    height: 10px;
    padding: 20px;
    margin: 5px;
    border-radius: 15px;
    border: 2px solid black;
    outline: none;
}
.form > textarea{
    height: 50px;
}
.form > input:focus,
textarea:focus {
  border: 2px solid #007eb4;
}
.form > input:hover,
textarea:hover{
    box-shadow: 0 0 25px #007eb4;
}
.form > button:hover{
    box-shadow: 0 0 25px rgba(97, 92, 92, 0.8)
}
.form > button {
    padding: 20px;
    width: 300px;
    border-radius: 12px;
    outline: none;
    background-color:#007eb4;
    color: rgb(255, 255, 255);
    font-size: 23px;
    margin-top: 10px;
}

/*About*/

hr{
    margin: 0 20% 0 20%;
}
.bout{
    margin: 0 10% 0 10%;
    padding: 30px 0 30px 0;
    text-align: center;
}
.picgino{
    width: 150px;
}
.gino, .hugo, .anna, .ilya, .kastus {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team{
    display: flex;
    justify-content: space-around;
}
@media screen and (max-width: 376px){
    .picgino{
        width: 75px;
    }
    .bout{
        text-align: center;
        padding: 10px 0 10px 0;
        margin: 25px 25px 25px 25px;
    }
    .team{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
}

.isFavorite {
    width:50px;
    height:50px;
}
.favorite {
    margin-left: 50%;
    transform: translate(-50%);
}
