body{
    font-family:sans-serif;
    background-color: #f9f7f7;
}

h1{
    padding: 30px;
    text-align: center;
}

hr{
    width: 50%;
    border-top: 1px solid black;
    margin-top: 20px;
}

.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.NavBar img{
    width: 50px;
}

.link-text{
    color: black;
    margin-right: 10px;
    padding: 10px;
    text-decoration: none;
}
.link-text:hover{
    color: red;
}

.footer{
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social-icons{
    padding: 10px;
}

.websites{
    color: black;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
}
.sponsers{
    text-align: center;
}

.logo{
    display: flex;
}

@media screen and (max-width: 900px) {
    .footer{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .NavBar{
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.leaflet-container{
    width: 100%;
    height: 90vh;
}

.leaflet-container {
    width: 100%;
    height: 100vh;
  }
  
  .images{
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  /* Contact form*/

  @import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
form,
input,
textarea,
button {
    font-family: 'Redressed', cursive;
    font-size: large;
}

.form {
    width: 200vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:30px;
}
.form > input,textarea{
    width: 250px;
    padding: 30px;
    margin: 10px;
    border-radius: 15px;
    border: 2px solid black;
    outline: none;
}
.form > input:focus,
textarea:focus {
  border: 2px solid rgb(250, 20, 20);
}
.form > input:hover,
textarea:hover{
    box-shadow: 0 0 25px rgba(255, 12, 12, 0.8);
}
.form > button:hover{
    box-shadow: 0 0 25px rgba(97, 92, 92, 0.8)
}
.form > button {
    padding: 20px;
    width: 300px;
    border-radius: 12px;
    outline: none;
    background-color:rgb(250, 20, 20);
    color: rgb(255, 255, 255);
    font-size: 23px;
    margin-top: 10px;
}

/* Home */

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
    transition: 0.5s;
}

.showcase.active {
    right: 300px;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('/media/menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url('/media/close.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}


.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text {
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 6px;
}

.social {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: min-content;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.5);
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 32px;
    color: #111;
}

@media(max-width: 798px) {
    .showcase, .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3em;
    }
    
    .text h3 {
        font-size: 2em;
    }


}